* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;

    background-color: transparent;
}

#battery,
#network,
#pulseaudio,
#window,
#workspaces,
#clock,
#tray,

#default {
	color: #c0caf5;
	background-color: #1a1b26;
	padding: 0px 10px;

	border-radius: 10px;
}

.modules-right {
	color: #c0caf5;
	background-color: #1a1b26;
	padding: 0px;

	border-radius: 10px;
}

window#waybar {
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces {
	padding: 0px;
}

#workspaces button {
	border-radius: 10px;
	padding-left: 8px;
	padding-right: 12px;
}

#workspaces button.active {
	color: #7aa2f7;
}

#clock {
}

#battery {
}

#network {
}

#network:hover {
	background-color: #292e42;
}

#pulseaudio {
}

#pulseaudio:hover {
	background-color: #292e42;
}

#tray {
}

#mpd {
}
