* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
}

#workspaces,
#clock,
#battery,
#network,
#pulseaudio,
#tray,

#default {
	margin-top: 4px;
    padding: 0 10px;
    color: #ffffff;
	background-color: rgba(50, 50, 50, 0.5);
	border-radius: 8
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#pulseaudio:hover {
}

#workspaces button {
    color: #ffffff;
}

#workspaces button:hover {
}

#workspaces button.focused {
}

#workspaces button.urgent {
}

#workspaces {
}

#clock {
}

#battery {
}

#battery.charging, #battery.plugged {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

